/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header {
    background-color: #1c067c;
    color: #fff;
    padding: 1.1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

main {
    padding: 0px;
}

/* Botón de inicio */
.INICIO {
    background-color: #13044dbe;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    cursor: pointer;
}

.INICIO:hover {
    background-color: #0c03359c;
}

/* Estilos para el slider */
.slider2 {
    display: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 816px;
    overflow: hidden;
}

.slider2 img {
    position: absolute;
    width: 100%;
    height: 816px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.slider2 img:first-child {
    opacity: 1;
}

/* Estilos para el fooder */
footer {
    background-color: #1c067c;
    color: #fff;
    padding: 10px;
    margin-top: 0;
}

p {
    text-align: center;
    font-size: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .content {
        font-size: 14px;
    }
}

/* Estilos para la caja de texto
.cajaTexto {
    background-color: rgba(255, 255, 255, 0.055);
    padding: auto;
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.MensajeSecreto {
    text-align: center;
    font-size: 20px;
}

.textoclave {
    text-align: center;
    font-size: 20px;
}

.botón1 {
    background-color: #13044dbe;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    cursor: pointer;
}

.botón1:hover {
    background-color: #0c03359c;
}

.botón2 {
    background-color: #13044dbe;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    cursor: pointer;
}

.botón2:hover {
    background-color: #0c03359c;
}*/

.logo1 {
    height: 50px;
    width: 10px;
    text-align: center;
}

